name: Deploy to Production

concurrency:
  group: terraform-prod-${{ github.ref }}
  cancel-in-progress: false

on:
  push:
    tags:
      - "v*"

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod
      region: europe-west1
      var_file: env/prod.tfvars
      backend_prefix: streamquest/prod
      instance_name: orders-prod
      state_bucket: streamquest-prod-ccm2-terraform-states
    secrets:
      gcp_credentials: ${{ secrets.GCP_SA_KEY_PROD }}
      project_id: ${{ secrets.PROD_GCP_PROJECT_ID }}
