name: Deploy to Development

on:
  pull_request:
    types: [opened, synchronize, reopened]


env:
  PROJECT_ID: streamquest-dev
  REGION: europe-west1
  REPO_ID: orders

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.0

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY_DEV }}

    - name: Terraform Init
      run: terraform init
      working-directory: .

    - name: Terraform Plan
      run: |
        terraform plan -var-file=env/dev.tfvars
      working-directory: .

    - name: Terraform Apply
      run: |
        terraform apply -auto-approve -var-file=env/dev.tfvars
      working-directory: .
