name: Deploy to Development

concurrency:
  group: terraform-dev-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types: [opened, synchronize, reopened]


env:
  PROJECT_ID: streamquest-dev
  REGION: europe-west1
  REPO_ID: orders

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.0

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY_DEV }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Create Terraform state bucket if not exists
      run: |
        gsutil ls gs://streamquest-472309-terraform-states || gsutil mb gs://streamquest-472309-terraform-states

    - name: Terraform Init
      run: |
        terraform init -reconfigure -backend-config="bucket=streamquest-472309-terraform-states" -backend-config="prefix=streamquest/dev"
      working-directory: .

    - name: Terraform Plan
      run: |
        terraform plan -lock-timeout=5m -var-file=env/dev.tfvars
      working-directory: .

    - name: Terraform Apply
      run: |
        terraform apply -lock-timeout=5m -auto-approve -var-file=env/dev.tfvars
      working-directory: .

    - name: Terraform Destroy on failure
      if: ${{ failure() }}
      run: |
        terraform init -reconfigure -backend-config="bucket=streamquest-472309-terraform-states" -backend-config="prefix=streamquest/dev" -lock-timeout=5m
        terraform destroy -lock-timeout=5m -auto-approve -input=false -var-file=env/dev.tfvars
      working-directory: .
