name: Deploy to Production

on:
  release:
    types: [published]

env:
  PROJECT_ID: streamquest-prod
  REGION: europe-west1
  REPO_ID: orders

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.0

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY_PROD }}

    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@v2

    - name: Create Terraform state bucket if not exists
      run: |
        gsutil ls gs://${{ secrets.TF_STATE_BUCKET }} || gsutil mb gs://${{ secrets.TF_STATE_BUCKET }}

    - name: Terraform Init
      run: |
        terraform init -reconfigure -backend-config="bucket=${{ secrets.TF_STATE_BUCKET }}" -backend-config="prefix=streamquest/prod"
      working-directory: .

    - name: Terraform Plan
      run: |
        terraform plan -var-file=env/prod.tfvars
      working-directory: .

    - name: Terraform Apply
      run: |
        terraform apply -auto-approve -var-file=env/prod.tfvars
      working-directory: .
