name: Deploy to Production

concurrency:
  group: terraform-prod-${{ github.ref }}
  cancel-in-progress: false

on:
  release:
    types: [published]

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: prod
      project_id: streamquest-prod
      region: europe-west1
      var_file: env/prod.tfvars
      backend_prefix: streamquest/prod
      instance_name: orders-prod
      state_bucket: streamquest-472309-terraform-states
    secrets:
      gcp_credentials: ${{ secrets.GCP_SA_KEY_PROD }}
